<div role="gridcell">
  <div>
    <div>
      <b>description: </b>
      {{ params.data.description }}
    </div>
    <div>
      <b>date of birth: </b>
      {{ params.data.dateOfBirth }}
    </div>
    <div>
      <b>email: </b>
      {{ params.data.email }}
    </div>
    <div>
      <b>phone: </b>
      {{ params.data.phone }}
    </div>
    <div>
      <b>street: </b>
      {{ params.data.street }}
    </div>
    <div>
      <b>city: </b>
      {{ params.data.city }}
    </div>
    <div>
      <b>state: </b>
      {{ params.data.state }}
    </div>
    <div>
      <b>zip: </b>
      {{ params.data.zip }}
    </div>
  </div>
</div>