<mat-form-field>
	<mat-label>Group By</mat-label>
	<mat-select [(ngModel)]="groupBy" name="grouping">
		<mat-option value="noGrouping" (click)="restructureTable('noGrouping')">(No Grouping)</mat-option>
		<mat-option value="firstName" (click)="restructureTable('firstName')">First Name</mat-option>
		<mat-option value="lastName" (click)="restructureTable('lastName')">Last Name</mat-option>
		<mat-option value="age" (click)="restructureTable('age')">Age</mat-option>
	</mat-select>
</mat-form-field>
<div class="table-container">
	<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef>ID</th>
			<td mat-cell *matCellDef="let element">
				<button matButton (click)="element.expanded = !element.expanded">
					@if(element.expanded) {
					<mat-icon aria-label="Expand Records">expand_less</mat-icon>
					} @else {
					<mat-icon aria-label="Expand Records">expand_more</mat-icon>
					}
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef>First Name</th>
			<td mat-cell *matCellDef="let element">{{element.firstName}}</td>
		</ng-container>

		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef>Last Name</th>
			<td mat-cell *matCellDef="let element">{{element.lastName}}</td>
		</ng-container>

		<ng-container matColumnDef="age">
			<th mat-header-cell *matHeaderCellDef>Age</th>
			<td mat-cell *matCellDef="let element">{{element.age}}</td>
		</ng-container>

		<!-- Expanded Detail Column -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell [attr.colspan]="displayedColumns.length" *matCellDef="let element">
				<div [@detailExpand]="element.expanded? 'expanded' : 'collapsed'">
					Expanded detail row for the element {{element.name}}
				</div>
			</td>
		</ng-container>

		<!-- Grouping Row -->
		<ng-container matColumnDef="groupingRow">
			<td mat-cell [attr.colspan]="displayedColumns.length" *matCellDef="let element">
				{{element.value}} ({{element.count}})
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns; when: isRecordRow"></tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
		<tr mat-row *matRowDef="let row; columns: ['groupingRow']; when: isGroupingRow"></tr>
	</table>
</div>